@model WebShopApp.Areas.SelfService.Models.SelfServiceViewModel

@{
    ViewData["Title"] = "Self service";
}

<link href="~/css/selfservice.css" rel="stylesheet" />

@if (Model.User != null)
{
    <div class="row">
        <div class="col-lg-4 order-lg-1 order-xl-1">
            <!-- profile summary -->
            <div class="card mb-4 rounded-top">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex flex-column align-items-center justify-content-center p-2">
                            <form id="data" action="/SelfService/Home/ChangeProfileImage" method="post" enctype="multipart/form-data">
                                <label for="file">
                                    <div class="profile-pic" id="profileImg" style="background-image: url('@Url.Action("GetProfilePicture", "Home", new { area = "SelfService" })')">
                                        <span class="fas fa-camera fa-2x"></span>
                                    </div>
                                </label>
                                <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" onchange="$('form#data').submit()" style="display:none;">
                            </form>

                            <button type="button" class="btn btn-danger btn-xs mt-3" onclick="deleteImage();" title="Delete profile image"><i class="fas fa-trash"></i></button>
                            <h5 class="mb-0 fw-700 text-center mt-3">
                                @Model.User.FirstNameLastName
                            </h5>
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                            <div class="col-md-12">
                                <hr />
                                <form asp-action="UpdateUserProfile" method="post">
                                    <table class="table table-sm table-border-0 table-responsive table-hover">
                                        <tr >
                                            <td><strong>Email:</strong></td>
                                            <td>@Model.User.Email</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Phone number:</strong></td>
                                            <td id="phoneDisplay">@Model.User.PhoneNumber</td>
                                            <td id="phoneEdit" style="display: none;">
                                                <input type="text" placeholder="Insert phone number" name="PhoneNumber" class="form-control" value="@Model.User.PhoneNumber" required />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Address:</strong></td>
                                            <td id="addressDisplay">@Model.User.Adresa</td>
                                            <td id="addressEdit" style="display: none;">
                                                <input type="text" placeholder="Insert home address" name="Address" class="form-control" style="outline: none; height: 30px;" value="@Model.User.Adresa" required />
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary mb-3" id="editButton" onclick="enableEdit();">Uredi</button>
                                        <button type="submit" class="btn btn-primary mb-3" id="saveButton" style="display: none;">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/selfservice.js" asp-append-version="true"></script>
}