@model WebShopApp.DAL.Models.ApplicationUser
@{
    ViewData["Title"] = "Self service";
}

<link href="~/css/selfservice.css" rel="stylesheet" />

@if (Model != null)
{
    <div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="card mb-4 rounded-top col-lg-8 col-md-10 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex flex-column align-items-center justify-content-center p-2">
                        <form id="data" action="/SelfService/Home/ChangeProfileImage" method="post" enctype="multipart/form-data">
                            <label for="file">
                                <div class="profile-pic" id="profileImg" style="background-image: url('@Url.Action("GetProfilePicture", "Home", new { area = "SelfService" })')">
                                    <span class="fas fa-camera fa-2x"></span>
                                </div>
                            </label>
                            <input type="file" name="file" id="file" accept=".jpg, .jpeg, .png" onchange="$('form#data').submit()" style="display:none;">
                        </form>

                        <button type="button" class="btn btn-danger btn-xs mt-3" onclick="deleteImage();" title="Delete profile image"><i class="fas fa-trash"></i></button>
                        <h5 class="mb-0 fw-700 text-center mt-3">
                            @Model.FirstNameLastName
                        </h5>
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-center mt-4">
                        <div class="col-md-12">
                            <hr />
                            <form method="post" id="editUserForm" class="p-3">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="FirstName"><strong>First Name:</strong></label>
                                        <input type="text" id="FirstName" name="FirstName" class="form-control" value="@Model.FirstName" />
                                    </div>
                                    <div class="col-6">
                                        <label for="LastName"><strong>Last Name:</strong></label>
                                        <input type="text" id="LastName" name="LastName" class="form-control" value="@Model.LastName" />
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="Email"><strong>Email:</strong></label>
                                    <input type="email" id="Email" name="Email" class="form-control" value="@Model.Email" />
                                </div>

                                <div class="mb-3">
                                    <label for="Phone"><strong>Phone number:</strong></label>
                                    <input type="text" id="Phone" name="Phone" class="form-control" value="@Model.Phone" />
                                </div>

                                <div class="mb-3">
                                    <label for="Phone"><strong>Country:</strong></label>
                                    <input type="text" id="Country" name="Country" class="form-control" value="@Model.Country" />
                                </div>


                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label for="City"><strong>City:</strong></label>
                                        <input type="text" id="City" name="City" class="form-control" value="@Model.City" />
                                    </div>
                                    <div class="col-4">
                                        <label for="PostalCode"><strong>Postal Code:</strong></label>
                                        <input type="text" id="PostalCode" name="PostalCode" class="form-control" value="@Model.PostalCode" />
                                    </div>
                                    <div class="col-4">
                                        <label for="Address"><strong>Address:</strong></label>
                                        <input type="text" id="Address" name="Address" class="form-control" value="@Model.Address" />
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script src="~/js/selfservice.js" asp-append-version="true"></script>
}